body{
    display: grid;
    height : 100vh;
    grid-template:
    "header" 150px
    "main" 1fr
    "footer" 150px / 1fr
    ;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    grid-area: footer;
}