@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
*{margin:0; padding:0; background-color: rgb(255, 249, 249); }
p{color: rgb(186, 171, 218); font-family: 'Licorice', cursive; font-size: 5em;}