*{text-align: center;}
span{white-space: pre;}
h1{
    color:rgb(215, 127, 161);
}
input[type="text"]{
    padding : 10px;
    border: rgb(215, 127, 161) solid 2px;
}
input[type="button"]{
    width: 100px;
    cursor: pointer;
    padding : 10px;
    border : none;
    color: white;
    background-color: rgb(215, 127, 161);
}

form{
    margin-top: 10%;
}